.about-event .radio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    gap: 4px;

    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    border-radius: .8rem;

    background-color: var(--input-base);
}

.radio-inner {
    width: 100%;

    position: relative;

    input {
        all: unset;
        position: absolute;

        inset: 0;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;

        width: 100%;

        margin: 0;
        padding: .88rem 1.8rem;
        border-radius: .8rem;

        font: var(--body-sm-regular);
    }

    &:has(:checked) label {
        font: var(--body-sm-semibold);
        color: var(--text-heading);
        background-color: var(--shape-button);

        svg path {
            fill: var(--brand-light);
        }
    }
}

.customization .radio-wrapper {
    all: unset;
    display: flex;
    gap: 1.2rem;

    input {
        border-radius: 50%;
    }
}

.customization .radio-inner {
    height: 4rem;
    width: 4rem;

    border-radius: 50%;
    border: 4px solid var(--shape-button);
    outline: 2px solid var(--shape-button);

    &:hover {
        border-color: var(--shape-hover);
        outline-color: var(--shape-hover);
    }

    &:has(:checked) {
        outline-color: var(--brand-light);
    }
}

div {

    #brand-light {
        background-color: var(--brand-light);
    }

    #navy {
        background-color: var(--navy);
    }

    #purple {
        background-color: var(--purple);
    }

    #fuschia {
        background-color: var(--fuschia);
    }

    #pink {
        background-color: var(--pink);
    }

    #danger {
        background-color: var(--danger);
    }

    #orange {
        background-color: var(--orange);
    }

    #yellow {
        background-color: var(--yellow);
    }

    #lime {
        background-color: var(--lime);
    }

    #green {
        background-color: var(--green);
    }

    #cyan {
        background-color: var(--cyan);
    }
}

.theme-input-wrapper {
    margin-top: 2.8rem;
}

.theme-radio-wrapper.grid-auto-fit {
    grid-template-columns: repeat(4, 1fr);

    &>label {
        margin-bottom: 1.6rem;
        font: var(--body-sm-regular);
        color: var(--text-heading);
    }

    .theme-inner-radio {
        position: relative;
        padding: .4rem;
        height: 10.4rem;

        outline: 2px solid transparent;
        border-radius: .8rem;

        display: grid;
        justify-items: center;
        gap: .8rem;

        background-color: var(--shape-button);

        input[type="radio"] {
            all: unset;
            position: absolute;
            inset: 0;
        }

        img {
            width: 100%;
            max-height: 6.4rem;
            border-radius: 4px;
        }

        &:hover {
            background-color: var(--shape-hover);
        }

        &:focus-within,
        &:has(:checked) {
            outline-color: var(--brand-light);
        }
    }

}