* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --leckerli-one-family: "Leckerli One", serif;
    --baloo-2-family: "Baloo 2", sans-serif;
    --open-sans-family: "Open Sans", sans-serif;

    --logo: 400 4rem var(--leckerli-one-family);

    --heading-md: 700 2.8rem var(--baloo-2-family);
    --heading-sm: 700 1.8rem var(--baloo-2-family);

    --body-md-regular: 400 1.6rem var(--open-sans-family);
    --body-md-semibold: 600 1.6rem var(--open-sans-family);
    --body-sm-regular: 400 1.4rem var(--open-sans-family);
    --body-sm-semibold: 600 1.4rem var(--open-sans-family);
    --body-xs-regular: 400 1.2rem var(--open-sans-family);
    --body-xs-semibold: 600 1.2rem var(--open-sans-family);

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

body {
    font-size: 1.6rem;
    font: var(--body-md-regular);

    overflow: hidden;
}

img {
    max-width: 100%;
    height: 100%;
}

.grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.2rem, 1fr));
    gap: 1.6rem;
}